# Created by .ignore support plugin (hsz.mobi)
.gitignore
target/Flash-Sale-1.0-SNAPSHOT.jar
target/Flash-Sale-1.0-SNAPSHOT.jar.original
target/classes/templates/goods_detail.html
target/classes/templates/goods_list.html
target/classes/templates/order_detail.html
target/classes/templates/seckill_fail.html
target/classes/top/wujinxing/config/
target/classes/top/wujinxing/controller/GoodController.class
target/classes/top/wujinxing/controller/SeckillController.class
target/classes/top/wujinxing/controller/SimpleController.class
target/classes/top/wujinxing/controller/UserController.class
target/classes/top/wujinxing/dao/GoodsDao.class
target/classes/top/wujinxing/dao/OrderDao.class
target/classes/top/wujinxing/entity/FlashSaleGoods.class
target/classes/top/wujinxing/entity/FlashSaleOrder.class
target/classes/top/wujinxing/entity/Goods.class
target/classes/top/wujinxing/entity/OrderInfo.class
target/classes/top/wujinxing/exception/
target/classes/top/wujinxing/redis/GoodsKey.class
target/classes/top/wujinxing/service/
target/classes/top/wujinxing/util/DBUtil.class
target/classes/top/wujinxing/util/UUIDUtil.class
target/classes/top/wujinxing/util/UserUtil.class
target/classes/top/wujinxing/vo/GoodsVo.class
target/generated-sources/
target/generated-test-sources/
target/maven-archiver/
target/maven-status/
target/surefire-reports/
